<mat-toolbar class="header-toolbar" color="primary">
    <mat-toolbar-row>
      <div class="container">
        <div class="row between-xs middle-xs">
          <nav class="header-nav">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <a mat-button routerLink="/">Inicio</a>
            <!-- <a mat-button routerLink="/stores">Ingresa la frase</a>
            <a mat-button routerLink="/about-us">Contacto</a> -->
          </nav>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
