
a{
    display: none;
}

.Card{
    padding: 2%;
    max-width: 250px;
    height: 270px;
    margin: auto;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    align-content: space-between; 
    overflow: hidden;
}

.Card img{
    width: 100%;
    height: auto;
  }