<mat-card>
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle>Presione el botón de inicio para grabar la frase que de desea traducir</mat-card-subtitle>
    <mat-card-actions class="buttonRecoding">
      <button mat-raised-button (click)="startRecording()">Inicio grabación</button>
      <button mat-raised-button (click)="stopRecording()">Fin grabación</button>
      <div *ngIf=flagRecording>
        <mat-spinner></mat-spinner>
      </div>
    </mat-card-actions>

  
</mat-card>

<div class="Cards">
  <mat-card class="Card">
    <mat-card-header>
      <mat-card-title>Usted dijo:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{frase}}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="Card">
    <mat-card-header>
      <mat-card-title>La seña correspondiente es:</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src] = "path" alt="Video">
  </mat-card>
</div>